In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('diabetes.csv')

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.shape

(768, 9)

In [8]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [9]:
df2 = df.copy()

In [10]:
df2.loc[2:5, 'Pregnancies'] = None

In [11]:
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101,76,48,180,32.9,0.171,63,0
764,2.0,122,70,27,0,36.8,0.340,27,0
765,5.0,121,72,23,112,26.2,0.245,30,0
766,1.0,126,60,0,0,30.1,0.349,47,1
767,1.0,93,70,31,0,30.4,0.315,23,0

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               764 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 54.1 KB

In [13]:
df2.isnull().sum()

Pregnancies                 4
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
df.loc[df['BloodPressure']>100]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
43,9,171,110,24,240,45.4,0.721,54,1
84,5,137,108,0,0,48.8,0.227,37,1
106,1,96,122,0,0,22.4,0.207,27,0
177,0,129,110,46,130,67.1,0.319,26,1
207,5,162,104,0,0,37.7,0.151,52,1
362,5,103,108,37,0,39.2,0.305,65,0
369,1,133,102,28,140,32.8,0.234,45,1
440,0,189,104,25,0,34.3,0.435,41,1
549,4,189,110,31,0,28.5,0.680,37,0
658,11,127,106,0,0,39.0,0.190,51,0
662,8,167,106,46,231,37.6,0.165,43,1
672,10,68,106,23,49,35.5,0.285,47,0
691,13,158,114,0,0,42.3,0.257,44,1

In [15]:
df_concat = pd.concat([df2, df])
df_concat

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101,76,48,180,32.9,0.171,63,0
764,2.0,122,70,27,0,36.8,0.340,27,0
765,5.0,121,72,23,112,26.2,0.245,30,0
766,1.0,126,60,0,0,30.1,0.349,47,1
767,1.0,93,70,31,0,30.4,0.315,23,0

In [16]:
df_concat = df_concat.reset_index(drop=True)
df_concat

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
1531,10.0,101,76,48,180,32.9,0.171,63,0
1532,2.0,122,70,27,0,36.8,0.340,27,0
1533,5.0,121,72,23,112,26.2,0.245,30,0
1534,1.0,126,60,0,0,30.1,0.349,47,1
1535,1.0,93,70,31,0,30.4,0.315,23,0

In [17]:
df['id'] = df.index

In [18]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,id
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,2
3,1,89,66,23,94,28.1,0.167,21,0,3
4,0,137,40,35,168,43.1,2.288,33,1,4
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,763
764,2,122,70,27,0,36.8,0.340,27,0,764
765,5,121,72,23,112,26.2,0.245,30,0,765
766,1,126,60,0,0,30.1,0.349,47,1,766
767,1,93,70,31,0,30.4,0.315,23,0,767

In [21]:
df_pregnancies = df[['id','Pregnancies']]
df_pregnancies

      id  Pregnancies
0      0            6
1      1            1
2      2            8
3      3            1
4      4            0
..   ...          ...
763  763           10
764  764            2
765  765            5
766  766            1
767  767            1

[768 rows x 2 columns]

In [22]:
df_pregnancies = df_pregnancies.rename(columns={'id':'id_pregnant'})
df_pregnancies

     id_pregnant  Pregnancies
0              0            6
1              1            1
2              2            8
3              3            1
4              4            0
..           ...          ...
763          763           10
764          764            2
765          765            5
766          766            1
767          767            1

[768 rows x 2 columns]

In [24]:
df = pd.read_csv('diabetes.csv')

In [25]:
df['Glucose_Insulin_Ratio'] = df['Glucose'] / df['Insulin']
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_Insulin_Ratio
0,6,148,72,35,0,33.6,0.627,50,1,inf
1,1,85,66,29,0,26.6,0.351,31,0,inf
2,8,183,64,0,0,23.3,0.672,32,1,inf
3,1,89,66,23,94,28.1,0.167,21,0,0.946809
4,0,137,40,35,168,43.1,2.288,33,1,0.815476
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,0.561111
764,2,122,70,27,0,36.8,0.340,27,0,inf
765,5,121,72,23,112,26.2,0.245,30,0,1.080357
766,1,126,60,0,0,30.1,0.349,47,1,inf
767,1,93,70,31,0,30.4,0.315,23,0,inf

In [27]:
df['Glucose_Insulin_Ratio_2'] = df.apply(lambda row: row['Glucose'] / row['Insulin'], axis = 1)
df

C:\Users\UMPO\AppData\Local\Temp\ipykernel_4284\77100447.py:1: RuntimeWarning: divide by zero encountered in scalar divide
  df['Glucose_Insulin_Ratio_2'] = df.apply(lambda row: row['Glucose'] / row['Insulin'], axis = 1)
C:\Users\UMPO\AppData\Local\Temp\ipykernel_4284\77100447.py:1: RuntimeWarning: invalid value encountered in scalar divide
  df['Glucose_Insulin_Ratio_2'] = df.apply(lambda row: row['Glucose'] / row['Insulin'], axis = 1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_Insulin_Ratio,Glucose_Insulin_Ratio_2
0,6,148,72,35,0,33.6,0.627,50,1,inf,inf
1,1,85,66,29,0,26.6,0.351,31,0,inf,inf
2,8,183,64,0,0,23.3,0.672,32,1,inf,inf
3,1,89,66,23,94,28.1,0.167,21,0,0.946809,0.946809
4,0,137,40,35,168,43.1,2.288,33,1,0.815476,0.815476
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,0.561111,0.561111
764,2,122,70,27,0,36.8,0.340,27,0,inf,inf
765,5,121,72,23,112,26.2,0.245,30,0,1.080357,1.080357
766,1,126,60,0,0,30.1,0.349,47,1,inf,inf
767,1,93,70,31,0,30.4,0.315,23,0,inf,inf

In [34]:
(df.loc[0:10000,'Outcome']).value_counts(normalize=True)

Outcome
0    0.651042
1    0.348958
Name: proportion, dtype: float64

In [37]:
df.value_counts(subset=['Pregnancies', 'Outcome'], sort=False, normalize=True)

Pregnancies  Outcome
0            0          0.095052
             1          0.049479
1            0          0.138021
             1          0.037760
2            0          0.109375
             1          0.024740
3            0          0.062500
             1          0.035156
4            0          0.058594
             1          0.029948
5            0          0.046875
             1          0.027344
6            0          0.044271
             1          0.020833
7            0          0.026042
             1          0.032552
8            0          0.020833
             1          0.028646
9            0          0.013021
             1          0.023438
10           0          0.018229
             1          0.013021
11           0          0.005208
             1          0.009115
12           0          0.006510
             1          0.005208
13           0          0.006510
             1          0.006510
14           1          0.002604
15           1          0.001302
17           1          0.001302
Name: proportion, dtype: float64

In [38]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Glucose_Insulin_Ratio,Glucose_Insulin_Ratio_2
Outcome,,,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000,inf,inf
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164,inf,inf

In [39]:
df.groupby(['Pregnancies', 'Outcome']).mean()

                        Glucose  BloodPressure  SkinThickness     Insulin  \
Pregnancies Outcome
0           0        111.945205      69.205479      21.054795   77.561644
            1        144.236842      63.210526      24.605263   89.578947
1           0        104.254717      66.830189      23.047170   84.320755
            1        143.793103      71.310345      29.517241  151.137931
2           0        105.214286      61.940476      20.107143   72.619048
            1        135.473684      69.052632      28.210526  144.315789
3           0        109.604167      65.708333      17.520833   62.020833
            1        148.444444      68.148148      24.629630  132.666667
4           0        117.555556      71.577778      18.422222   78.466667
            1        139.913043      67.000000      10.913043   51.782609
5           0        111.666667      74.666667      17.166667   46.861111
            1        131.190476      78.857143      17.761905   75.190476
6           0        115.352941      66.382353      18.705882   69.029412
            1        132.375000      72.750000      15.375000   52.000000
7           0        121.000000      70.350000      19.350000   72.500000
            1        148.800000      71.120000      21.040000   94.040000
8           0        106.625000      75.312500      12.937500   14.500000
            1        150.000000      75.090909      20.500000  149.772727
9           0        107.000000      70.400000      22.400000   71.200000
            1        144.944444      82.055556      20.055556   57.555556
10          0        117.571429      72.857143      10.571429   25.071429
            1        125.600000      66.500000      22.900000   48.400000
11          0        113.250000      81.000000      10.000000    0.000000
            1        134.000000      70.285714      28.428571  102.857143
12          0        111.000000      80.200000      24.600000   31.800000
            1        116.750000      71.500000      30.250000  213.500000
13          0        117.200000      74.400000      22.000000   50.000000
            1        133.800000      73.200000      12.600000    5.800000
14          1        137.500000      70.000000      27.500000   92.000000
15          1        136.000000      70.000000      32.000000  110.000000
17          1        163.000000      72.000000      41.000000  114.000000

                           BMI  DiabetesPedigreeFunction        Age  \
Pregnancies Outcome
0           0        31.727397                  0.457055  27.095890
            1        39.213158                  0.643368  28.578947
1           0        29.616038                  0.451679  25.254717
            1        37.793103                  0.613759  35.103448
2           0        29.679762                  0.479881  25.892857
            1        34.578947                  0.543737  32.947368
3           0        29.231250                  0.358354  28.770833
            1        32.548148                  0.563333  29.481481
4           0        31.255556                  0.410511  30.066667
            1        33.873913                  0.516478  38.086957
5           0        31.100000                  0.359278  39.416667
            1        36.780952                  0.460095  38.380952
6           0        29.591176                  0.433294  37.147059
            1        31.775000                  0.421500  44.000000
7           0        29.975000                  0.405500  42.500000
            1        34.756000                  0.474120  40.000000
8           0        30.693750                  0.526750  49.625000
            1        32.204545                  0.488682  42.272727
9           0        28.840000                  0.311100  46.000000
            1        33.300000                  0.683778  43.166667
10          0        30.114286                  0.411071  43.357143
            1        31.380000                  0.514500  41.700000
11          0        37.125000                  0.259000  40.750000
            1        39.385714                  0.673143  46.714286
12          0        30.560000                  0.301200  48.200000
            1        34.575000                  0.623250  46.500000
13          0        33.280000                  0.405600  46.800000
            1        36.720000                  0.521000  42.200000
14          1        35.100000                  0.312000  42.000000
15          1        37.100000                  0.153000  43.000000
17          1        40.900000                  0.817000  47.000000

                     Glucose_Insulin_Ratio  Glucose_Insulin_Ratio_2
Pregnancies Outcome
0           0                          inf                      inf
            1                          inf                      inf
1           0                          inf                      inf
            1                          inf                      inf
2           0                          inf                      inf
            1                          inf                      inf
3           0                          inf                      inf
            1                          inf                      inf
4           0                          inf                      inf
            1                          inf                      inf
5           0                          inf                      inf
            1                          inf                      inf
6           0                          inf                      inf
            1                          inf                      inf
7           0                          inf                      inf
            1                          inf                      inf
8           0                          inf                      inf
            1                          inf                      inf
9           0                          inf                      inf
            1                          inf                      inf
10          0                          inf                      inf
            1                          inf                      inf
11          0                          inf                      inf
            1                          inf                      inf
12          0                          inf                      inf
            1                          inf                      inf
13          0                          inf                      inf
            1                          inf                      inf
14          1                          inf                      inf
15          1                     1.236364                 1.236364
17          1                     1.429825                 1.429825

In [40]:
import numpy as np

In [41]:
pd.pivot_table(df, values='BMI', index='Pregnancies', columns=['Outcome'],aggfunc=np.mean)

C:\Users\UMPO\AppData\Local\Temp\ipykernel_4284\1817412971.py:1: FutureWarning: The provided callable <function mean at 0x0000016C90C544A0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df, values='BMI', index='Pregnancies', columns=['Outcome'],aggfunc=np.mean)

Outcome              0          1
Pregnancies
0            31.727397  39.213158
1            29.616038  37.793103
2            29.679762  34.578947
3            29.231250  32.548148
4            31.255556  33.873913
5            31.100000  36.780952
6            29.591176  31.775000
7            29.975000  34.756000
8            30.693750  32.204545
9            28.840000  33.300000
10           30.114286  31.380000
11           37.125000  39.385714
12           30.560000  34.575000
13           33.280000  36.720000
14                 NaN  35.100000
15                 NaN  37.100000
17                 NaN  40.900000